<ol class="post-list">
  {{#each posts as |post| }}
  <li>
    <article class="post-list">
      <div class="title">
        <h1 href="{{post.post_content}}" target="_blank">{{title}}</h1>
        <div>
            Posted by: {{post.user.username}}
            at {{post.created_at}}

        </div>
      </div>
      <div class="meta">
        <h4>{{post.post_content}}</h4>
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>